/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Header */
header {
  background-color: #25b79f;
  height: 100vh;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.navbar.solid {
  background-color: #07374a;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.navbar .logo {
  color: #f0f0e6;
  font-size: 2rem;
}

.menu-items {
  display: flex;
  list-style: none;
}

.menu-items li {
  padding: 1rem;
}

.menu-items a {
  text-decoration: none;
  color: #f0f0e6;
  font-size: 1.2rem;
  padding: 0.3rem;
}

.menu-items a:hover {
  border-bottom: 2px solid #f0f0e6;
}

/* Home Content */
.home-content {
  background-color: #f2f2f2;
  padding: 100px 0;
  text-align: center;
}

.home-content .name {
  color: #07374a;
  width: 100%;
  text-align: center;
}

.home-content .name h1 {
  font-size: 2.2rem;
}

.home-content .name p {
  color: #f0f0e6;
  font-size: 1.5rem;
}

.angle-down-icon {
  font-size: 2rem;
  border: 3px solid #07374a;
  border-radius: 50%;
}

.angle-down-icon a {
  text-decoration: none;
  color: #07374a;
  padding: 1rem;
}

/* About Me and Education Sections */
.about-me,
.edu {
  background-color: #07374a;
  padding: 6rem 0;
}

.about-me .about-heading,
.edu .about-heading {
  color: #25b79f;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.about-content img {
  height: 200px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.about-content p {
  font-size: 1.2rem;
  color: #f0f0e6;
  padding: 0 2.3rem;
  text-align: center;
}

.skills .skills-heading {
  font-size: 2rem;
  font-weight: 600;
  color: #25b79f;
  text-align: center;
}

.about-content .left-content,
.about-content .right-content {
  flex-basis: 45%;
  text-align: center;
}

/* Skill Bar */
.skills-bar {
  padding: 50px 50px;
}

.skills-bar .bar {
  margin: 50px 0;
}

.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 500;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
  color: #969602;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 40px;
  width: 550px;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  position: absolute;
  background: #25b79f;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line .html {
  width: 100%;
}

.progress-line .css {
  width: 80%;
}

.progress-line .javascript {
  width: 50%;
}

.progress-line .python {
  width: 30%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -12px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #f0f0f0;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #07374a;
  font-size: 12px;
  font-weight: 700;
  background: #f0f0f0;
  padding: 1px 8px;
  border-radius: 3px;
}

.progress-line .html::after {
  content: "100%";
}

.progress-line .css::after {
  content: "80%";
}

.progress-line .javascript::after {
  content: "50%";
}

.progress-line .python::after {
  content: "30%";
}

/* Contact Section */
.contact {
  background: #25b79f;
  position: relative;
  height: 92vh;
}

.contact-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact-content h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: black;
  padding-bottom: 0.5rem;
}

.contact-content .mail {
  color: black;
  padding-bottom: 0.2rem;
  font-size: 1rem;
}

.contact-content .links {
  color: black;
  padding: 0.5rem;
  padding-bottom: 1.8rem;
  font-size: 1rem;
}

.contact-content a {
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
}

.contact-content a:hover {
  color: black;
}

/* Media Queries */
@media (max-width: 768px) {
  html {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .about-content .left-content,
  .about-content .right-content {
    flex-basis: 100%;
    text-align: center;
  }

  .about-content .right-content h1,
  .edu .right-content h1 {
    margin-top: 3.2rem;
  }

  .skills-bar .bar .progress-line {
    width: 100%;
  }

  .work-arrow,
  .work-arrow-2 {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  html {
    font-size: 16px; /* Adjust font size for medium-sized screens */
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .header {
    height: 90vmax;
  }
}
